<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Researcher</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
  <h1> Company Researcher</h1>

  <main class="container">
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Company Name" name="company_name">
      <button>Search</button>
    </form>
  </main>
</body>

</html>